@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@200;300;400;600;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.bgimg{
    background-image: url(./assets/webp/image14.webp);
    background-size: 100% 100%;
}
.bgwhiteimage{
    background-image: url(./assets/webp/Rectangle10.webp);
    background-size: 100% 100%;    
}
.bgsecondimage{
    background-image: url(./assets/webp/bgsecond.webp);
    background-size: 100% 100%;
}
.bgthirdimg{
    background-image: url(./assets/webp/third.webp);
    background-size: 100% 100%;
}
.bggameimg{
    background-image: url(./assets/webp/bggame.webp);
    background-size: 100% 100%;
}

.navhide{
    overflow: hidden;
}